<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Login')"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1 class="login-title">Log In</h1>

<div th:if="${param.error}">
    <p class="alert">Invalid Username and/or Password.</p>
</div>
<div th:if="${param.logout}">
    <p class="alert">You have been logged out.</p>
</div>

<form class="login-form" th:action="@{/login}" method="POST">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control text-border" id="username" placeholder="Enter username"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control text-border" id="password" placeholder="Password"/>
    </div>

    <button type="submit" class="registration-btn btn btn-primary">Log in</button>
</form>

</body>
</html>